@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-green: #66b25c;
    --secondary-green: #A3D8A2;
    --dark-green: #348e60;
    --light-gray: #F7F7F7;
    --card-radius: 12px;
}

body {
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 80%;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; 
    max-width: 1260px;
    margin-inline: auto;
    padding: 0 15px
}

header {
    background: rgba(163, 216, 162, 0.9);
    padding: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #000;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    flex-grow: 1;
    text-align: center;
}

.user-status {
    position: absolute;
    right: 4em;
}

/* Base styling for user icon */
.user-icon {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 0.9em;
    z-index: 100; 
}

.user-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/* Tooltip arrow pointing to the right (towards the icon) */
.tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent; /* Arrow color */
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    height: 100%;
    padding-block-start: 5em;
    position: fixed;
    z-index: 9999;
    top: 0;
    overflow-x: hidden;
    background: #4a8a47;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
}

/* Toggle button (initially hidden on large screens) */
.toggle-btn {
    display: none;
}

.sidebar .close-btn {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 1.7rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    text-shadow: 0 2px 6px #000;
}

/* Sidebar open state */
.sidebar.open {
    left: 0;
}


.text-center {
    padding: 0 1em;
}

p .logo {
    color: var(--secondary-green);
    margin-bottom: 3.7em;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.01em;
    text-shadow: 2px 2px 5px #000000;
}

.sidebar__menu {
    list-style-type: none;
    padding: 0;
    margin-top: 1.8em;
}

.sidebar__menu li {
    margin-bottom: 10px;
}

.sidebar__menu a {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 5px #000000;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 10px;
    transition: background-color 0.3s ease;
    gap: 10px; 
    width: 98%; 
    box-sizing: border-box;
}

.sidebar__menu a i {
    font-size: 1.1rem;
    flex-shrink: 0;
}


.sidebar__menu a:hover {
    background: linear-gradient(90deg, #106539 0%, #65b25b 100%);
    color: #fff;
}

.sidebar__menu a.active {
    background-color: #106539;
    color: #fff;
}


/* Content section */
.content {
    margin-left: 17.5em;
    padding: 10px 15px;
    width: calc(100% - 17.5em);
    margin-top: 4em;
    box-sizing: border-box;
}

.top-section {
    display: grid;
    gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
}

.stat {
    background-color: #65b25b;
    color: #fff;
    border-radius: var(--card-radius);
    text-align: center;
    padding: .3rem;
    margin-block: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat.alert {
    color: #feecea;
    background-color: #bc6363;
}

.stat__alert {
    font-size: 1.05rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9); 
    margin-top: .15em;
}

.stat__content {
    padding: .8em;
}

.stat h3 {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: normal;
}

.stat p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.stat:hover {
    opacity: .9;
}

/* Main Section Styles */
.main-section {
    margin-inline: auto;
}

.chart-section {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 1rem;
}

.chart-card {
    background-color: #fff;
    border-radius: var(--card-radius);
    padding: 1.5em 1.2em;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 100px;
    margin-bottom: 1.5em;
}

.chart-card h3 {
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.chart-card canvas {
    height: 350px;
    width: 100%;
}

.chart-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}



/* Bottom Section Styles */
.container .bottom-section {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-block-start: 0;
    margin-inline-start: 21em;
}

.view-type-section,
.record-type-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-block: 1em;
}

.view-type-label,
.record-type-label {
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 4px;
    font-weight: 500;
}

#view-type,
#record-type {
    width: 182px;
    padding: 8px;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 2px 5px rgba(0, 0, 0, 0.3);
    transition: border 0.3s ease;
}

#view-type,
#record-type:hover {
    border-color: #65b25b;
}

.button-primary {
    background-color: #4a8a47;
    margin-top: .7em;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: 2px 2px 4px #000000;
}

.button-primary:hover {
    background-color: var(--primary-green);

}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.modal-content {
    background-color: #fefefe;
    padding: 2em;
    border-radius: 12px;
    top: 10px;
    width: 340px;
    box-shadow: 1.5px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: left;
    overflow-y: auto;
}


.modal-content label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 4px;
    display: block;
}

.modal-content input {
    margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="date"] {
    width: 100%;
    padding: 7px;
    border: 1px solid var(--dark-green);
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.modal-content input[type="text"]:focus,
.modal-content input[type="number"]:focus,
.modal-content input[type="date"]:focus {
    border-color: #65b25b;
    outline: none;
}

.modal-content .button-primary {
    width: 182px;
    background-color: #4a8a47;
    color: white;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3px;
    align-self: center;
    text-shadow: 2px 2px 4px #000000;
    transition: background-color 0.3s ease;
}

.modal-content .button-primary:hover {
    background-color: var(--primary-green); 
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content h3 {
    font-size: 1.45rem;
    font-family: georgia, serif;
    margin-bottom: 21px;
    font-weight: bold;
    color: #000;
    text-align: center;
    word-wrap: break-word;
}

.close {
    position: absolute;
    top: 15px;
    right: 22px;
    font-size: 2.3rem;
    cursor: pointer;
    line-height: 1; 
}

.blur {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


/* General table styling */
table {
    width: 85%;
    border-collapse: collapse;
    margin: 1.7em auto;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-end-end-radius: 8px;
    overflow: hidden;
}

table th {
    background-color: #4a8a47;
    color: #fff;
    padding: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: 500;
    border-right: 2px solid #fff;
    font-size: 1rem;
}

table th:last-child {
    border-right: none;
}

table td {
    padding: .3em .8em;
    font-size: 1rem;
    border-bottom: 1px solid #e9ecef;
    color: #000;
    border-right: 2px solid #e9ecef;
    transition: background-color 0.3s ease;
}

table tr:nth-child(even) {
    background-color: #f3f3f3;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

/* Style to indicate that a row is in edit mode */
table tr.edit-mode:nth-child(odd) {
    background-color: #e6f4ea;
    border-left: 2px solid #4a8a47;
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

table tr.edit-mode:nth-child(even) {
    background-color: rgb(237, 247, 255);
    border-left: 2px solid rgb(12, 140, 253);
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

table tr.edit-mode td input {
    border: 1px solid #4a8a47;
    padding: 4px;
    width: 88%;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

table tr.edit-mode td input:focus {
    border-color: #71c17d;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

table td.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.save-record, .cancel-edit,
.edit-record, .delete-record {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: .9rem;
    border-radius: 5px;
    background-color: var(--primary-green);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-width: 70%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9); 
}

.cancel-edit,
.delete-record {
    margin-top: .2em;
    color: #fadcd9;
    background-color: #bc6363;
}


.edit-record:hover, .delete-record:hover {
    opacity: .8;
}

.save-record i, .cancel-edit i,
.edit-record i, .delete-record i {
    margin-right: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* Pagination container */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

.pagination button {
    background-color: #4a8a47;
    color: #fff;
    border: none;
    padding: 6px 10px;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pagination button:disabled {
    background-color: rgba(163, 216, 162, 0.9);
    cursor: not-allowed;
    box-shadow: none;
}

.pagination button:hover:not(:disabled) {
    background-color: var(--primary-green);
}

.pagination .page-info {
    margin: 0 15px;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.pagination .prev, .pagination .next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .prev i, .pagination .next i {
    margin-inline: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.message-box {
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-block: 11px;
    padding-inline-start: 1.5em;
    padding-inline-end: 2.2em;
    border-radius: 10px;
    font-size: 1.1rem;
    text-shadow: 2px 2px 5px #000000;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1100; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);    
    max-width: 300px;
    text-align: center;
    transition: all 0.3s ease;
}


.message-box.success {
    background-color: #4CAF50;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.message-box.error {
    color: #feecea;
    background-color: #e74c3c;
}


.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    background: none;
    border: none;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    color: #ccc
}




/* Responsive table for mobile devices */
@media (max-width: 50em) {
    
    .toggle-btn {
        font-size: 24px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        display: block;
        font-weight: bold;
        z-index: 10000;
        position: absolute;
        left: 20px;
        top: 10px;
        
    }

    .sidebar {
        left: -100%;
    }

    .sidebar.open .close-btn {
        display: block;
    }

    .page-header h1 {
        font-size: 1.35rem;
    }
    
    .content {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    } 

    .container {
        width: 100%;
    }

    .table-container {
        max-width: 100%;
        overflow-x: auto;
        margin: 0 auto;
        white-space: nowrap
    }

    
    table {
        min-width: 500px;
    }

    table th, td {
        font-size: .9rem;
    }

    .modal {
        margin: 12em auto;
        display: block;
        align-items: flex-start;
        padding: 1em;
    }

    .modal-content {
        min-width: 200px;
        padding: 1em;
        background-color: rgba(254, 254, 254, 0.9);

    }

    .modal-content label {
        font-size: 1rem;
    }
    
    .modal-content input[type="text"],
    .modal-content input[type="number"],
    .modal-content input[type="date"] {
        padding: 5px;
        font-size: .9rem;
        width: 97%;
    }
    .modal-content h3 {
        font-size: 1.1rem;
    }

    .chart-card {
        width: 100%; 
    }

    #employeeRolesChart {
        width: 100%;
        height: auto;
    }

    .chart-section {
        grid-template-columns: 1fr;
        max-width: calc(100vw - 60px);
        padding: 0.5rem;
    }

    .container .bottom-section {
        margin-inline-start: 0;
    }

    .message-box {
        min-width: 100px;
        font-size: .9rem;
        padding-block: 5px;
        margin: 0;

    }

    .close {
        top: 10px;
        right: 20px;
    }
}

@media (max-width: 400px) {
    .container .bottom-section {
        display: none;
    }
}